<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Count</title>
  </head>
  <body>
    <h1>Word Count</h1>

    <div id="page-wrapper">

  		<h1>Text File Reader</h1>
  		<div>
  			Select a text file: 
  			<input type="file" id="fileInput">
  		</div>
  		<pre id="fileDisplayArea"><pre>

  	</div>
    
    <div id="wordBody">
      
    </div>

    <script src="../src/WordCount.js"></script>
    <script src="../src/WordPrinter.js"></script>
    <script type="text/javascript" src="../src/Filereader.js"></script>
  </body>
</html>
